{% assign parts = current_path | split: "/" %}
{% assign cumulative_path = "" %}

<nav class="breadcrumb-container">
    <ul class="breadcrumbs">
        <a href="/">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23.6111 7.52092L15.2778 0.953774C14.5139 0.339565 13.5249 0 12.5 0C11.4751 0 10.4862 0.339565 9.72229 0.953774L1.38901 7.52092C0.947859 7.87558 0.595822 8.31067 0.35634 8.79719C0.116858 9.28372 -0.00457297 9.81053 0.000131658 10.3425V21.2545C0.000131658 22.2479 0.439115 23.2005 1.22051 23.903C2.00191 24.6054 3.06171 25 4.16677 25H20.8333C21.9384 25 22.9982 24.6054 23.7796 23.903C24.561 23.2005 25 22.2479 25 21.2545V10.3301C25.0027 9.80014 24.8803 9.27574 24.6409 8.7915C24.4015 8.30725 24.0505 7.87419 23.6111 7.52092ZM15.2778 22.503H9.72229V16.2605C9.72229 15.9293 9.86861 15.6118 10.1291 15.3776C10.3895 15.1435 10.7428 15.012 11.1112 15.012H13.8889C14.2573 15.012 14.6105 15.1435 14.871 15.3776C15.1315 15.6118 15.2778 15.9293 15.2778 16.2605V22.503ZM22.2222 21.2545C22.2222 21.5856 22.0759 21.9032 21.8154 22.1373C21.5549 22.3715 21.2017 22.503 20.8333 22.503H18.0556V16.2605C18.0556 15.2671 17.6166 14.3144 16.8352 13.612C16.0538 12.9096 14.994 12.5149 13.8889 12.5149H11.1112C10.0061 12.5149 8.9463 12.9096 8.16491 13.612C7.38351 14.3144 6.94453 15.2671 6.94453 16.2605V22.503H4.16677C3.79842 22.503 3.44515 22.3715 3.18468 22.1373C2.92422 21.9032 2.77789 21.5856 2.77789 21.2545V10.3301C2.77814 10.1528 2.82038 9.9776 2.9018 9.81614C2.98322 9.65469 3.10196 9.51067 3.25011 9.39367L11.5834 2.83902C11.8368 2.63886 12.1627 2.52847 12.5 2.52847C12.8374 2.52847 13.1632 2.63886 13.4167 2.83902L21.75 9.39367C21.8981 9.51067 22.0169 9.65469 22.0983 9.81614C22.1797 9.9776 22.2219 10.1528 22.2222 10.3301V21.2545Z" fill="black"/>
            </svg>
        </a>

        <span class="separator">></span>

        {% for part in parts %}
            {% unless part == "" %}
                {% comment %} Build the path segment by segment {% endcomment %}
                {% assign cumulative_path = cumulative_path | append: "/" | append: part %}
                    
                <li class="breadcrumb-item">
                    <a href="{{ cumulative_path }}" class="{% if forloop.last %}active{% endif %}">
                        {{ part | capitalize | replace: "-", " " | truncate: 20 }}
                    </a>
                    
                    {% unless forloop.last %}
                        <span class="separator">></span>
                    {% endunless %}
                </li>
            {% endunless %}
        {% endfor %}
    </ul>
</nav>