{% render 'partials/head.liquid' %}

<main class="login">
    
    {% render 'partials/general-heading.liquid',
        heading_level: 1,
        content: "Log in",
    %}
    <section>
        <form action="/login" method="POST">
                <label for="username">Naam</label>
                <input 
                    type="text" 
                    id="username" 
                    name="username" 
                    placeholder="Typ je naam..." 
                    required
                > 
            <button type="submit">
                Inloggen
            </button>
        </form>

        {% render 'partials/general-heading.liquid',
            heading_level: 1,
            content: "Of log in met",
        %}
        
        <div class="social-login">
            <button type="button">
                Log in met Google
            </button>
            <button type="button">
                Log in met Apple
            </button>
            <button type="button">
                Log in met Microsoft
            </button>
        </div>
    </section>
</main>