{% render 'partials/head.liquid' %}
<main>
    {% render 'partials/detailpage.liquid'
        title: newsItem.title,
        image: newsItem.image,
        body: newsItem.body,
        date: newsItem.date,
        current_path: current_path,
    %}
</main>
{% render 'partials/foot.liquid', current_path: current_path %}