{% render 'partials/head.liquid' %}
<main class="nieuws">
    <section class="header">
        {% render 'partials/breadcrumbs.liquid',
            current_path: current_path,
        %}
        <h1>Veld {{ current_path | remove: '/' | capitalize }}</h1>
    </section>

    {% render 'partials/newsitems.liquid', news: news, current_path: current_path %}
</main>
{% render 'partials/foot.liquid', current_path: current_path %}