{% render 'partials/head.liquid'
    extra: "/assets/styles/detail.css"
%}
<main>
    {% render 'partials/detailpage.liquid'
        title: plant.name,
        image: plant.in_bloom,
        body: plant.description,
        omscription: plant.omscription,
        current_path: current_path,
    %}
</main>
{% render 'partials/foot.liquid', current_path: current_path %}