{% render 'partials/head.liquid' 
    zone_type: zone.type,
%}

{% render 'partials/zone-header.liquid', 
    plants: zone.plants, 
    zone_type: zone.type, 
    zone_name: zone.name,
    zone_slug: zone_slug
%}

<main class="zone">
<section>
    <h2>Opdrachten</h2>
    {% render 'partials/questlist.liquid', 
        zone_slug: zone_slug,
        zone_type: zone.type, 
        plants: plants
    %}
</section>

<section>
    <h2 class="headingplanten">Planten</h2>
    {% render 'partials/flowerlist.liquid', 
        plants: plants, 
        zone_type: zone.type, 
        zone_slug: zone_slug
    %}
</section>
</main>
{% render 'partials/foot.liquid', current_path: current_path %}